.addToCart {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #0f0f0f;
  color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border-color: transparent;
}
