.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 432px;
  margin: 10px;
  max-width: 100vw;
}

.nameAndPriceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin: auto;
  background-color: #0f0f0f;
  color: #f7f7f7;
  border-radius: 5px;
}

.nameAndPriceContainer h4 {
  padding: 0 5px;
}
