.itemsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  transition: all 0.5s;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  transition: all 0.5s;
}

@media (max-width: 480px) {
  .itemsGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
