.checkoutButton {
  width: 100%;
  padding: 10px;
  background-color: #0f0f0f;
  color: #f7f7f7;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
}

.continueShoppingButton {
  background-color: #f7f7f7;
  color: #0f0f0f;
  width: 100%;
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
}
