.appbarContainer {
  background-color: #0f0f0f;
  color: #f7f7f7;
  padding: 10px;
  width: 100%;
  position: "fixed";
  top: 0;
  left: 0;
  z-index: 1000;
}

.appbarHeader {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.appbarSearchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-height: 50px;
}

.appbarSearch {
  width: 100%;
  max-height: 50px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  color: #0f0f0f;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 10px;
}
.searchButton {
  max-height: 50px;
  width: 40px;
  height: 40px;

  background-color: #f7f7f7;
  color: #0f0f0f;
  align-items: center;
  display: flex;
  justify-content: center;

  padding: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.searchIcon {
  filter: invert(0%) sepia(87%) saturate(3972%) hue-rotate(176deg)
    brightness(112%) contrast(88%);
  width: 20px;
  height: 20px;
}

.hotNowIcon {
  filter: invert(98%) sepia(98%) saturate(4007%) hue-rotate(357deg)
    brightness(104%) contrast(106%);
}

.shoppingCartIcon,
.menuIcon,
.homeIcon {
  filter: invert(98%) sepia(7%) saturate(200%) hue-rotate(296deg)
    brightness(115%) contrast(88%);
}
