.hotNow {
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 50px;
  height: max-content;
  margin-left: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.contentBox {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 300px;
  gap: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
.contentBox::-webkit-scrollbar {
  display: none;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #181818;
}

.actionButton {
  margin: 10px;
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #232323;
  color: #f0f0f0;
  box-shadow: 0 1px 5px rgba(213, 213, 213, 0.2);
}

.actionButton:last-child:hover {
  transform: rotate(10deg);
}
.actionButton:first-child:hover {
  transform: rotate(-10deg);
}
