.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #0f0f0f;
  border-right: 1px solid #0f0f0f;
  transition: transform 1s;
  animation: ToTheLeft 2s ease;
  animation-delay: 2s;
}

@keyframes ToTheLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.right {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #0f0f0f;
  border-left: 1px solid #0f0f0f;
  transition: transform 1s;
  animation: ToTheRight 2s ease;
  animation-delay: 2s;
}

@keyframes ToTheRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progressBar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 0%;
  background-color: #f7f7f7;
  transition: height 1s;
  animation: ToTheTop 2s ease;
}

@keyframes ToTheTop {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
