.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  width: 100%;
  gap: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
  border-color: #0f0f0f;
  border: 1.5px solid #0f0f0f;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0f0f0f;
  color: #f7f7f7;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
}

.form button:disabled {
  background-color: #f7f7f7;
  color: #0f0f0f;
  cursor: not-allowed;
}

.form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form select:focus {
  outline: none;
  border-color: #0f0f0f;
  border: 1.5px solid #0f0f0f;
}

.errorLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.errorButton {
  width: 250px;
  background-color: #0f0f0f;
  color: #f0f0f0;
  height: 50px;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.errorText {
  font-size: 2rem;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  size: 10px;
  font-size: x-large;
}
.modal {
  position: fixed;
  /* display: flex; */
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f0f0fe8;
  padding: 20px;
  color: #f7f7f7;
  cursor: pointer;
  animation: slideIn 0.5s forwards;
  border-radius: 10px 10px 0 0;
  gap: 10px;
}

.modal::-webkit-scrollbar {
  scrollbar-color: #f0f0f0 #0f0f0f;
  scrollbar-width: thin;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  gap: 10px;
  margin-bottom: 5px;
}
.colorAndPrice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.color {
  width: 50px;
  height: 10px;
  border-radius: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.successButton {
  width: 50%;
  background-color: #f0f0f0;
  color: #0f0f0f;
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
